<div class="container-fluid" id="mainBody">
    <div class="jumbotron text-center bg-dark text-white" id="mainPageHeader">
        <div class="container">
            <h1 class="display-4" id="mainPageHeaderFont">
                <strong>...venUser ..</strong>
            </h1>
        </div>
    </div>
    <div class="d-flex justify-content-center text-black" id="searchBar">
        <div class="card" id="mainCard">
            <div class="card-body">
                <h2 class="card-title">
                    <strong>Search Location (City, State, Venue)</strong></h2>

                <form class="form-inline" action="/venuelist" method="post">
                    <label for="city">City:</label>
                    <input type="search" class="form-control" name="city" id="city">
                    <label for="state">State:</label>
                    <input type="search" class="form-control" name="state" id="state">
                    <label for="venue">Venue:</label>
                    <input type="search" class="form-control" name="venue" id="venue">
                    <button type="button" class="btn btn-secondary btn-lg" id="searchSubmit" 
                    type="submit">
                    <strong>SUBMIT SEARCH</strong>
                        </button>
                    
                </form>
               
            </div>
        </div>
    </div>
</div>
