

<h2> venUser: Search Location/Venue </h2>
<form>
    <textarea type="text" cityName="city", stateName="state", venueName="venue"></textarea>
    <button type="button" class="btn btn-secondary btn-lg" type="submit">SUBMIT SEARCH</button>
</form>

