@-ms-viewport{
    width: device-width;
  }
 
 body  { 
     background-image: url("images/venUserBackground.png");
     width: 100%;background-size: 100%;
     opacity: 1%;
     background-color: grey;
 }

 #mainCard  {
    font-family: 'Amatic SC', cursive;
    font-style: bold;

 }

 #mainPageHeaderFont {
    color: white;
    font-size: 175px;
    font-family: 'Permanent Marker', cursive; 
    
 }

 #mainPageHeader {
    color: white;
    font-size: 150px;
    font-family: 'Permanent Marker', cursive;
    margin-top: 20px;
    
 }

 #resultTable  {

    width: 800px;
    height: 600px;
    margin-left: 230px;

 }

 .card-title  {
     font-size: 75px;
     text-align: center;

 }

 #searchBar  {
    height: 200px;
 
}

label  {
    font-family: 'Amatic SC', cursive;
    font-style: bold;
    font-size: 40px;


}
 #searchSubmit { 
    width:200px;
    height: 55px; 
    margin-left: 150px; 
    font-family: 'Amatic SC', cursive;
    font-style: bold;
    font-size: 30px;
    text-decoration: center;
 }

 #city, #state, #venue  {
    font-family: 'Amatic SC', cursive;
    font-style: bolder;
    font-size: 30px;
 }



 h1, h2, h3, h4, h5 {

    font-family: 'Amatic SC', cursive;
     font-style: bolder; 
    /* font-weight:700; */
 }

 a  {
    font-family: 'Amatic SC', cursive;
    font-style: bold;
    font-size: 30px;
    text-decoration: center;

 }

 #selectedVenuename, #selectedVenueAddress, #selectedVenueInstagram, #selectedVenueTwitter, #selectedVenueFacebook,
 #selectedVenueUrl, #Address  {
     width: 45px;
     background-color: white;
     border-top: 10px, color, black;
     border-right: 10px, color, black;
     border-bottom: 10px, color, black;
     border-left: 10px, color, black;
 }

 #reviewHeader  {
    text-decoration: underline; 
    background-color: white;
    border-top: 10px, color, black;
    border-right: 10px, color, black;
    border-bottom: 10px, color, black;
    border-left: 10px, color, black; 
 }