@-ms-viewport{
    width: device-width;
  }

 
 body  { 
     background-image: url("images/venUserBackground.png");
     width: 100%;background-size: 100%;
     opacity: 1%;
     background-color: grey;
 }

 #mainbody  {
    width: 100%;
    height: 100%;  
 }

 #mainCard  {
     width: 100%;
     height: 100%;
    font-family: 'Amatic SC', cursive;
    font-style: bold;

 }

 
 
    

 #mainPageHeaderFont {
    color: white;
    font-size: 9.375rem;
    font-family: 'Permanent Marker', cursive; 
    
 }

 #mainPageHeader {
    color: white;
    font-size: 9.375rem;
    font-family: 'Permanent Marker', cursive; 
    margin-top: 20px;
    
 }

 #resultTable  {

    width: 100%;
    height: 100%;
    font-family: 'Amatic SC', cursive;
    font-style: bold;
    /* margin-left: 230px; */

 }

 #selectedPageHeader  {
    color: white;
    font-size: 9.375rem;
    font-family: 'Permanent Marker', cursive; 
    margin-top: 20px;   
 }
  
th {

    font-size: 2rem;


 }

 .card-title  {
     font-size: 4.5rem;
     text-align: center;

 }

 #searchBar  {
    height: 200px;
 
}

#newSearchBar  {
    height:200px;

}

#newSearchTitle  {
    font-size: 4.5rem;
     text-align: center;
}



label  {
    font-family: 'Amatic SC', cursive;
    font-style: bold;
    font-size: 2.5rem;


}
 #searchSubmit { 
    width:200px;
    height: 55px; 
    margin-left: 15px;  
    font-family: 'Amatic SC', cursive;
    font-style: bold;
    font-size: 2rem;
    text-decoration: center;
 }

 #newSearchSubmit { 
    width:200px;
    height: 55px; 
    margin-left: 15px;  
    font-family: 'Amatic SC', cursive;
    font-style: bold;
    font-size: 2rem;
    text-decoration: center;
 }

 #city, #state, #venue  {
    font-family: 'Amatic SC', cursive;
    font-style: bolder;
    font-size: 2rem;
 }



 h1, h2, h3, h4, h5 {

    font-family: 'Amatic SC', cursive;
     font-style: bolder; 
    
 }

 h2 {
     font-size: 1rem;
 }
 a  {
    font-family: 'Amatic SC', cursive;
    font-style: bold;
    font-size: 1.33rem;
    text-decoration: center;
    color: black;

 }

 #venueInfoArea  {
    width: 100%;
    height: 100%;
    background-color: white;
    font-family: 'Amatic SC', cursive;
    font-style: bold;

 }


 #selectedVenuename, #selectedVenueAddress, #selectedVenueInstagram, #selectedVenueTwitter, #selectedVenueFacebook,
 #selectedVenueUrl, #Address  {
     width: 100%;
     background-color: white;
     border-top: 10px, color, black;
     border-right: 10px, color, black;
     border-bottom: 10px, color, black;
     border-left: 10px, color, black;
 }

 .hidden {
    display:none;
}

 #reviewHeader  {
    text-decoration: underline; 
    background-color: white;
    border-top: 10px, color, black;
    border-right: 10px, color, black;
    border-bottom: 10px, color, black;
    border-left: 10px, color, black; 
 }

 @media screen and (max-width: 600px) {
    
    
    #mainPageHeaderFont {
        color: white;
        font-size: 3rem;
        font-family: 'Permanent Marker', cursive; 
        
     }
    
     .card-title {
        font-size: 1.75rem;
        font-family: 'Amatic SC', cursive;
        font-style: bolder; 
        
     }   

     .card.centered {

        height: 100%;
        width: 100%;
     }
     
     #mainPageHeader {

        margin-top: 15px;
     }   
     #selectedPageHeader  {
        color: white;
        font-size: 3rem;
        font-family: 'Permanent Marker', cursive; 
           
     } 
     #newSearchTitle {
        font-size: 1.75rem;
        font-family: 'Amatic SC', cursive;
        font-style: bolder; 

     }
     #mainCard   {
         height: 240%;
         width: 100%;
         margin-bottom: 5%;

     } 
    
     .card  {
         height: 240%;
         width: 100%;
     }
     #venueForm  {

        font-size: 1.75rem;
        font-family: 'Amatic SC', cursive;
        font-style: bolder; 
     }   




 

     
     label  {
        font-family: 'Amatic SC', cursive;
        font-style: bold;
        font-size: 1.75rem;
    }


    #searchSubmit {
        margin-left: 15%;
        margin-top: 5%;

    }
    #newSearchSubmit {
        margin-left: 15%;
        margin-top: 5%;

    }
    #resultTable  {

        width: 90%;
        height: 100%;
    } 
    
  
}

 .tab-content {
     background-color: white;
 }

#reviewArea #writeReviewArea {
    background-color: white;
    color: black;
 }

 #venueInfoArea {
     background-color: white;
     margin-bottom: 15px;
 }

 #writeReviewArea {
     padding-left: 5px;
     padding-right: 5px;
 }

 #chooseVenueButton {
     background-color: white;
     border-color: white;
     color: black;
 }

 #chooseVenueButton:hover {
    color: blue;
 }

 #newSearchBar {
     height: 100px;
     margin-bottom: 10px;
 }

 #newSearchSubmit { 
    width:70px;
    height: 40px; 
    margin-left: 15px; 
    font-family: 'Amatic SC', cursive;
    font-style: bold;
    font-size: 16px;
    text-decoration: center;
 }

 #newCity, #newState, #newVenue  {
    font-family: 'Amatic SC', cursive;
    font-style: bolder;
    font-size: 14px;
 }

#newSearchTitle {
    margin-right: 15px;
}

#selectedPageHeader {
    color: white;
    font-size: 150px;
    font-family: 'Permanent Marker', cursive;
    margin-top: 20px;
    margin-bottom: 0px;
 }
